{
  "outFile":"C:/Users/Chile/Documents/GitHub/KbGs/kbEvalOut.nq.gz",
  "propEval":"C:/Users/Chile/Documents/GitHub/KbGs/propEvalOut.json",
  "kbMap":{
    "bnb":{
      "kbInput":"C:/Users/Chile/Documents/GitHub/KbGs/BNBLODB_201507_sorted.nt.gz",
      "idFile":"C:/Users/Chile/Documents/GitHub/KbGs/bnb_isbn_filtered.txt.gz",
      "idProperty":"http://purl.org/ontology/bibo/isbn",
      "kbGraph":"http://bnb.data.bl.uk/id/graph"},
    "cam":{
      "kbInput":"C:/Users/Chile/Documents/GitHub/KbGs/cambridge_sorted.nt.gz",
      "idFile":"C:/Users/Chile/Documents/GitHub/KbGs/cambridge_isbn_sorted_filtered.txt.gz",
      "idProperty":"http://purl.org/ontology/bibo/isbn",
      "kbGraph":"http://data.lib.cam.ac.uk/context/dataset/cambridge/bib"}
  },
  "properties": {
    "dc:title":{"cam":"http://purl.org/dc/terms/title", "bnb":"http://purl.org/dc/terms/title"},
    "rdfs:label":{"cam":"http://www.w3.org/2000/01/rdf-schema#label", "bnb":"http://www.w3.org/2000/01/rdf-schema#label"},
    "dc:type":{"cam":"http://purl.org/dc/terms/type", "bnb":""},
    "dc:issued":{"cam":"http://purl.org/dc/terms/issued", "bnb":""},
    "dc:language":{"cam":"http://purl.org/dc/terms/language", "bnb":"http://purl.org/dc/terms/language"},
    "dc:creator":{"cam":"http://purl.org/dc/terms/creator", "bnb":"http://purl.org/dc/terms/creator"},
    "dc:publisher":{"cam":"http://purl.org/dc/terms/publisher", "bnb":""},
    "dc:created":{"cam":"http://purl.org/dc/terms/created", "bnb":""},
    "dc:contribtor":{"cam":"http://purl.org/dc/terms/contributor", "bnb":"http://purl.org/dc/terms/contributor"},
    "dc:extent":{"cam":"http://purl.org/dc/terms/extent","bnb":""},
    "dc:format":{"cam":"http://purl.org/dc/terms/format", "bnb":""}
  }
}