{
  #the result file provides statistics as a json file
  "jsonResultFile":"C:/Users/Chile/Documents/GitHub/KbGs/propEvalOut.json",
  #numper of threads used (number of cores)
  "numberOfThreads": 8,
  #this Kb provides the uris used to identify entities
  "uriProviderKb": "dbp",
  #information about every Kb: input file (nt format), id file (format: <subject uri> - 1234567890 (id - no uri), property singeling out the id and graph name of the Kb (all are non optional)
  "kbMap":{
    "bnb":{
      "kbInput":"C:/Users/Chile/Documents/GitHub/KbGs/BNBLODB_201507_sorted.nt.gz",
      "idFile":"C:/Users/Chile/Documents/GitHub/KbGs/bnb_dbpedia_isbns_filtered.txt",
      "idProperty":"http://purl.org/ontology/bibo/isbn",
      "kbGraph":"http://bnb.data.bl.uk/id/graph"},
    "dbp":{
      "kbInput":"C:/Users/Chile/Documents/GitHub/KbGs/dbpedia_input_sorted.nt.gz",
      "idFile":"C:/Users/Chile/Documents/GitHub/KbGs/dbpedia_bnb_isbns_filtered.txt",
      "idProperty":"http://dbpedia.org/ontology/isbn",
      "kbGraph":"http://dbpedia.org/graph"}
  },
  #property mappings between Kbs: properyName:{ "kb-abbrivation as in kbMap!":"property uri in this kb for our property, use "" if not available" for every kb in kbMap }
  "properties": {
    "dc:title":{"cam":"http://purl.org/dc/terms/title", "bnb":"http://purl.org/dc/terms/title"},
    "rdfs:label":{"cam":"http://www.w3.org/2000/01/rdf-schema#label", "bnb":"http://www.w3.org/2000/01/rdf-schema#label"},
    "dc:type":{"cam":"http://purl.org/dc/terms/type", "bnb":""},
    "dc:issued":{"cam":"http://purl.org/dc/terms/issued", "bnb":""},
    "dc:language":{"cam":"http://purl.org/dc/terms/language", "bnb":"http://purl.org/dc/terms/language"},
    "dc:creator":{"cam":"http://purl.org/dc/terms/creator", "bnb":"http://purl.org/dc/terms/creator"},
    "dc:publisher":{"cam":"http://purl.org/dc/terms/publisher", "bnb":""},
    "dc:created":{"cam":"http://purl.org/dc/terms/created", "bnb":""},
    "dc:contribtor":{"cam":"http://purl.org/dc/terms/contributor", "bnb":"http://purl.org/dc/terms/contributor"},
    "dc:extent":{"cam":"http://purl.org/dc/terms/extent","bnb":""},
    "dc:format":{"cam":"http://purl.org/dc/terms/format", "bnb":""}
  }
        ,
"cam":{
"kbInput":"C:/Users/Chile/Documents/GitHub/KbGs/cambridge_sorted.nt.gz",
"idFile":"C:/Users/Chile/Documents/GitHub/KbGs/cambridge_isbn_sorted_filtered.txt.gz",
"idProperty":"http://purl.org/ontology/bibo/isbn",
"kbGraph":"http://data.lib.cam.ac.uk/context/dataset/cambridge/bib"}
}